[Desktop Entry]
Icon=text-html
Name=amazon video
Type=Link
URL[$e]=https://www.amazon.com/live/video/0e4f7a9b542b42dda0f23074dcecfd6b?ref_=vse_cards_4
