[Desktop Entry]
Icon=text-html
Name=Everything You Need to Know About The Sainsmart Genmitsu-Jinsoku 5W Galvo Laser (Z3)
Type=Link
URL[$e]=https://www.youtube.com/watch?v=ZKs4g0eJQLA
